<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--
	CampVO
	private int cno;
	private String name,address,phone,msg,image;
	 -->
<mapper namespace="com.sist.mapper.CampMapper">
	<select id="campListData" resultType="CampVO" parameterType="hashmap">
		SELECT cno,name,address,phone,msg,image,(SELECT MIN(TO_NUMBER(price)) FROM campsite2 cs WHERE cs.cno=c.cno) as mprice,num 
		FROM (SELECT cno,name,address,phone,msg,image,rownum as num 
		FROM (SELECT cno,name,address,phone,msg,image FROM camp2 ORDER BY cno ASC)) c
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	 
	
	<select id="campFindData" resultType="CampVO" parameterType="hashmap">
		SELECT cno,name,address,phone,msg,image,mprice,num 
		FROM (SELECT cno,name,address,phone,msg,image,mprice,rownum as num 
		FROM (SELECT cno,name,address,phone,msg,image,(SELECT MIN(TO_NUMBER(price)) FROM campsite2 cs WHERE cs.cno=camp2.cno) as mprice FROM camp2 
		WHERE (SELECT COUNT(sDate) FROM reserve2 WHERE camp2.cno=reserve2.rno AND sDate BETWEEN #{sdate} AND #{edate} AND type='c') = 0
		AND (SELECT COUNT(eDate) FROM reserve2 WHERE camp2.cno=reserve2.rno AND eDate BETWEEN #{sdate} AND #{edate} AND type='c') = 0
        AND (SELECT MIN(TO_NUMBER(price)) FROM campsite2 cs WHERE cs.cno=camp2.cno) BETWEEN #{spricefd} AND #{epricefd} 
		<if test="state != null">
		AND address LIKE '%'||#{state}||'%'
		</if>	
		<if test="campfd != ''">
		AND name LIKE '%'||#{campfd}||'%'
		</if>
		ORDER BY cno ASC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
	
	<select id="tourListData" resultType="TourVO" parameterType="String">
		SELECT tno,name,address,link,image
		FROM tour2
		WHERE address LIKE '%'||#{addr}||'%' 
		ORDER BY tno ASC
		FETCH FIRST 6 ROWS ONLY  
	</select>
	
	<select id="campReviewList" resultType="ReviewVO" parameterType="hashmap">
		SELECT no,subject,sno,type,id,TO_CHAR(regdate, 'YYYY-MM-DD')as dbday,num
		FROM (SELECT no,subject,sno,type,id,regdate,rownum as num 
		FROM (SELECT no,subject,sno,type,id,regdate FROM review2 WHERE sno=#{cno} AND type=#{type} ORDER BY no DESC))
		WHERE num BETWEEN #{start} AND #{end}
	</select>
</mapper>