<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
"http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.sist.mapper.RentMapper">
	<select id="rentListData" resultType="RentVO" parameterType="HashMap">
		SELECT rno, image, car_name, car_type, maker, inwon, fuel, car_option, price,
			   (SELECT COUNT(*) FROM review2 WHERE sno=rno) as rvCount,
			   (SELECT NVL(ROUND(AVG(rating),1),0) FROM review2 WHERE sno=rno) as rvAvg,
			   (SELECT COUNT(*) FROM jjim2 WHERE sno=rno) as jjimCount,
			   (SELECT COUNT(*) FROM jjim2 WHERE sno=rno AND id=#{id}) as jjimOk 
			   
		FROM rent2
		WHERE (SELECT COUNT(sDate) FROM reserve2 WHERE rent2.rno=reserve2.fno AND sDate BETWEEN #{sDate} AND #{eDate} AND type='r') = 0 
		AND (SELECT COUNT(eDate) FROM reserve2 WHERE rent2.rno=reserve2.fno AND eDate BETWEEN #{sDate} AND #{eDate} AND type='r' ) = 0 
		<if test="!all">
			<trim prefix="AND (" suffix=")" suffixOverrides=" AND ">
				<trim prefix="(" suffix=") AND " prefixOverrides="OR">
					<if test="oArray.o1_1">
						OR car_type LIKE '%경차%'
					</if>
					<if test="oArray.o1_2">
						OR car_type LIKE '%소형차%'
					</if>
					<if test="oArray.o1_3">
						OR car_type LIKE '%준중형%'
					</if>
					<if test="oArray.o1_4">
						OR car_type LIKE '%중형%'
					</if>
					<if test="oArray.o1_5">
						OR car_type LIKE '%SUV%'
					</if>
					<if test="oArray.o1_6">
						OR car_type LIKE '%승합차%'
					</if>
					<if test="oArray.o1_7">
						OR car_type LIKE '%전기차%'
					</if>
					<if test="oArray.o1_8">
						OR car_type LIKE '%고급차%'
					</if>
					<if test="oArray.o1_9">
						OR car_type LIKE '%수입%'
					</if>
				</trim>
				
				<trim prefix="(" suffix=") AND " prefixOverrides="OR">
					<if test="oArray.o2_1">
						OR maker LIKE '%기아%'
					</if>
					<if test="oArray.o2_2">
						OR maker LIKE '%현대%'
					</if>
					<if test="oArray.o2_3">
						OR maker NOT LIKE '%기아%' AND maker NOT LIKE '%현대%'
					</if>
				</trim>
				
				<trim prefix="(" suffix=") AND " prefixOverrides="OR">
					<if test="oArray.o3_1">
						OR TO_NUMBER(inwon) &lt;= 5
					</if>
					<if test="oArray.o3_2">
						OR inwon IN ('6','7','8')
					</if>
					<if test="oArray.o3_3">
						OR TO_NUMBER(inwon) &gt; 8
					</if>
				</trim>
				
				<trim prefix="(" suffix=") AND " prefixOverrides="OR">
					<if test="oArray.o4_1">
						OR fuel IN('휘발유')
					</if>
					<if test="oArray.o4_2">
						OR fuel IN('경유')
					</if>
					<if test="oArray.o4_3">
						OR fuel NOT IN('휘발유','경유')
					</if>
				</trim>
				 
			</trim>
		</if>
		ORDER BY rno ASC
	</select>
	
	<select id="rentReviewList" resultType="ReviewVO" parameterType="hashmap">
		SELECT no,TO_CHAR(regdate, 'yyyy-mm-dd hh24:mi:ss') as dbday,content,sno,type,id,rating,num 
		FROM (SELECT no,regdate,content,sno,type,id,rating,rownum as num 
			  FROM (SELECT no,regdate,content,sno,type,id,rating 
			  		FROM review2 
			  		WHERE type='r' 
			  		AND sno=#{rno} 
			  		ORDER BY 
				  		<choose>
				  			<when test="selected=='평점 높은 순'">
				  				rating DESC ,
				  			</when>
				  			<when test="selected=='평점 낮은 순'">
				  				rating ASC ,
				  			</when>
				  		</choose>
			  		regdate DESC
			  		)
			 )
		WHERE num BETWEEN #{start} AND #{end} 
	</select>
	
</mapper>